<% if(session[:table].nil?) %>
  <h1>Welcome to your new game</h1>
  
  <%= form_tag(tables_path, :method => 'post') do  %>
    <p>
    <%= label_tag 'players','Number of Players:' %><br />
    <%= number_field_tag 'players',1 %><br />
    </p>
    <p>
    <%= label_tag 'hand_size','Starting Hand Size:' %><br />
    <%= number_field_tag 'hand_size' %><br />
    </p>
    <p>
    <%= submit_tag 'Start Game', :confirm => 'Are you sure?' %>
    </p>
  <% end %>
<% else %>
  <div style="border:1px solid;">
    <% @table.players.times do |player_number| %>
      <%= form_tag(:tables_draw,:method => 'post', remote: true ) do %>
      <%= hidden_field_tag('player_id', player_number) %>
 
      <%= submit_tag('Draw card player ' + (player_number + 1).to_s, id: "draw", remote: true)%>
    
    <% end %><br />

      <table border = '1'>
        <caption> Player <%= player_number + 1 %>'s hand: </caption>
        <tr id = 'hand'>
        <%@table.player_show_hand(player_number).each_with_index do |card_text,card_id|%><br />
          <td>
          <%= card_text %>
          <%= form_tag( tables_update_path, :method => 'post') do %>
          <%= hidden_field_tag('player_id',player_number) %>
          <%= hidden_field_tag('card_id',card_id) %>
          <%= hidden_field_tag('table',@table)%>
          <%= submit_tag('Play') %>
          <% end %>
        </td>
        <% end %>
      </tr>
    </table>
    <table border = '1' class='discards'  id='<%=player_number + 1%>'>
        <caption> Player <%= player_number + 1 %>'s discards: </caption>
      <tr>
        <%@table.player_show_discards(player_number).each do |card_text|%><br />
          <td>
          <%= card_text %>
        </td>
        <% end %>
      </tr>
    </table><br />
<% end %>
</div>
<div>
     <table border = '1'>
        <caption> Cards in the Deck </caption>
      <tr id = 'drawdeck' >
        <%@table.show_deck.each do |card_text|%><br />
        <td>
          <%= card_text %>
        </td>
        <% end %>
      </tr>
    </table>


  </div>
  <br />
  <%= link_to 'New Game', tables_destroy_path%>
<% end %>
