<% if(session[:table].nil?) %>
  <h1>Welcome to your new game</h1>
  
  <%= form_tag(tables_path, :method => 'post') do  %>
    <p>
    <%= label_tag 'players','Number of Players:' %><br />
    <%= number_field_tag 'players',1 %><br />
    </p>
    <p>
    <%= label_tag 'hand_size','Starting Hand Size:' %><br />
    <%= number_field_tag 'hand_size' %><br />
    </p>
    <p>
    <%= submit_tag 'Start Game', :confirm => 'Are you sure?' %> | | <%= link_to 'View/Edit Cards', cards_path %>

    </p>
  <% end %>
<% else %>
  <div>
    <% @table.players.times do |player_number| %>
      <div class="hand" id = "hand<%= player_number + 1 %>">
        <p> <span> <%= button_tag( "Draw Card Player #{player_number + 1}", :class => 'draw', :id => "hand#{player_number + 1}", :remote => true) %>  </span></p>
      </div>
      <div class="discards" id="hand<%= player_number + 1 %>">
        <p> Discards </p>
      </div>

    <% end %>
    <div class="deck">
    <% @table.show_deck.each do |card_text| %>
      <p>
      <span> <%= card_text %> </span>
      </p>
    <%end%>
    </div>
  </div>
  <br />
  <%= link_to 'New Game', tables_destroy_path%>

<% end %>
